<div>
  <div class="container main">
    <div class="row">
      <div class="col-xs-6">


        <div class="container main">

          <h2>Modal Example</h2>
          <!-- Trigger the modal with a button -->
          <button type="button" class="btn btn-info btn-lg"  data-toggle="modal" data-target="#myModal">Open Modal</button>

          <!-- Modal -->
          <div class="modal fade" id="myModal" role="dialog">
            <div class="modal-dialog">

              <!-- Modal content-->
              <div class="modal-content">
                <div class="modal-header">
                  <button type="button" class="close" data-dismiss="modal">&times;</button>
                  <h4 class="modal-title">Modal Header</h4>
                </div>
                <div class="modal-body">
                  <input type="text" (input)="onUpdatelist($event)">
                </div>
                <div class="modal-footer">
                  <button type="button"  class="btn btn-default" data-dismiss="modal"  (click)="onCreatelist()">Close</button>
                </div>
              </div>

            </div>
          </div>

          <ul>
            <li *ngFor="let notes of list">{{notes}}</li>
          </ul>
        </div>
      </div>
      <div class="col-xs-6 main2">

        <div>
          <a [routerLink]="['/test-page']" class="btn-primary btn">Go to next page</a>
        </div>

      </div>
    </div>

  </div>
</div>




